<aside class="menu menu--is-closed">
    <div class="header">
        <h1 class="header__title"><a href="/" class="null">Blog Title</a></h1>
        <h2 class="header__subtitle">Blog Subtitle</h2>
        <div class="menu-btn">
            &equiv;
        </div>
    </div>
    <nav class="navigation">
        <ul class="navigation__links">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/posts">Articles</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/login">Log In</a></li>
        </ul>
    </nav>
    <div class="menu-footer">
        <div class="social-link">S</div>
        <div class="social-link">T</div>
        <div class="social-link">F</div>
        <!-- temporary, of course -->
        <div class="social-link"><a href="/logout">L</a></div>
        <div class="social-link">I</div>
    </div>

</aside>