<aside class="menu menu--is-closed">
    <div class="header">
        <h1 class="header__title"><a href="/" class="null">Blog Title</a></h1>
        <h2 class="header__subtitle">
            <% if (user) {%>
                Hello <%= user.username %>
            <% } else {%>
                Hello there!
            <% } %>
        </h2>
        <div class="menu-btn">
            &equiv;
        </div>
    </div>
    <nav class="navigation">
        <ul class="navigation__links">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/posts">Posts</a></li>
            <li><a href="/contact">Contact</a></li>
            <%if (user) {%>
                <li><a href="/logout">Log Out</a></li>
            <%} else {%>
                <li><a href="/login">Log In</a></li>
            <% } %>
        </ul>
    </nav>
    <div class="menu-footer">
        <div class="social-link">S</div>
        <div class="social-link">T</div>
        <div class="social-link">F</div>
        <div class="social-link">L</div>
        <div class="social-link">I</div>
    </div>

</aside>