.post-preview{
    padding:0 .5rem;
    margin-bottom:3rem;
    border-bottom:1px solid black;
    overflow:auto;
    &__title{
        margin:0 0 .2rem 0;
    }
    &__meta{
        span{
            margin-right:.5rem;
        }
    }
}