<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
<link href="./assets/styles/styles.6fa32e81be2ace6bc95c.css" rel="stylesheet"></head>
<body>
    <aside class="menu">
        <div class="header">
            <h1 class="header__title"><a href="index.html" class="null">Blog Title</a></h1>
            <h2 class="header__subtitle">Blog Subtitle</h2>
        </div>
        <nav class="navigation">
            <ul class="navigation__links">
                <li><a href="about.html">About</a></li>
                <li><a href="posts.html">Articles</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
        <div class="menu-footer">
            <div class="social-link">S</div>
            <div class="social-link">T</div>
            <div class="social-link">F</div>
            <div class="social-link">L</div>
            <div class="social-link">I</div>
        </div>
    </aside>
    <main class="main page-section">
        <div class="site-content site-content">
           <div class="entry-header">
            <h1 class="entry-header__title entry-header__title--centered">About</h1>
            <article class="entry-body entry-body--centered">
                <p>Almost every simple node tutorial uses mongo as a database.</p>
                <p>Lets use postgresql instead.</p>
            </article>
           </div>
        </div>
    </main>
<script type="text/javascript" src="./assets/scripts/main.6fa32e81be2ace6bc95c.js"></script></body>
</html>