<%- include('includes/header') %>
    <%- include('includes/menu') %>
    <main class="main page-section">
        <div class="site-content site-content">
           <div class="entry-header">
               <h1 class="entry-header__title entry-header__title--centered">Create Post</h1>
           </div> 
           

            <div class="form">
                <form  action="/create-post" method="POST" >
                    <div>
                        <label class="form__label" for="name">Title (required)</label>
                        <input class="form__text-input--large" type="text" name="title" id="name">
                    </div>
                    <div>
                        <label class="form__label" for="message">Post Body</label>
                        <textarea class="form__text-area" name="body" id="message" cols="30" rows="10"></textarea>
                    </div>
                    <div>
                        <input class="form__submit-btn" value="Create" type="submit">
                    </div>
                </form>
            
           </div>
        
        </div>
    </main>
<%- include('includes/footer') %>