<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
    <aside class="menu">
        <div class="header">
            <h1 class="header__title"><a href="index.html" class="null">Blog Title</a></h1>
            <h2 class="header__subtitle">Blog Subtitle</h2>
            <div class="menu-btn">
                &equiv;
            </div>
        </div>
        <nav class="navigation">
            <ul class="navigation__links">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="posts.html">Articles</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="login.html">Log In</a></li>
            </ul>
        </nav>
        <div class="menu-footer">
            <div class="social-link">S</div>
            <div class="social-link">T</div>
            <div class="social-link">F</div>
            <div class="social-link">L</div>
            <div class="social-link">I</div>
        </div>
        
    </aside>
    <main class="main ">
        <div class="site-content site-content--homepage">
           <div class="entry-header page-section">
               <h1 class="entry-header__title entry-header__title--centered">Work smart, not hard. But always be working.</h1>
           </div> 
           <article class="entry-body entry-body--centered">
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non numquam quidem dicta itaque cum. Molestiae, sapiente aspernatur ducimus corporis eveniet minima porro est animi dicta hic accusantium suscipit natus aliquid, odio atque quos laudantium perspiciatis laborum. Id tenetur animi, ducimus debitis quo rem nostrum nemo eum libero pariatur similique, sit numquam saepe assumenda inventore blanditiis optio.</p>
           </article>
           <div class="subscription">
            <form action="/subscribe">
            <input type="text" placeholder="Subscribe for your weekly tips">
            <input class="btn" type="submit">
            </form>
           </div>
        
        </div>
    </main>
</body>
</html>