<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
<link href="./assets/styles/styles.6fa32e81be2ace6bc95c.css" rel="stylesheet"></head>
<body>
    <aside class="menu">
        <div class="header">
            <h1 class="header__title"><a href="index.html" class="null">Blog Title</a></h1>
            <h2 class="header__subtitle">Blog Subtitle</h2>
            <div class="menu-btn">
                &equiv;
            </div>
        </div>
        <nav class="navigation">
            <ul class="navigation__links">
                <li><a href="about.html">About</a></li>
                <li><a href="posts.html">Articles</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
        <div class="menu-footer">
            <div class="social-link">S</div>
            <div class="social-link">T</div>
            <div class="social-link">F</div>
            <div class="social-link">L</div>
            <div class="social-link">I</div>
        </div>
        
    </aside>
    <main class="main ">
        <div class="site-content site-content--homepage">
           <div class="entry-header page-section">
               <h1 class="entry-header__title entry-header__title--centered">Work smart, not hard. But always be working.</h1>
           </div> 
           <article class="entry-body entry-body--centered">
               <p>67% of people have experienced burnout. Ness Labs is a mindful productivity school teaching thousands of mindful makers how to achieve more without sacrificing their mental health. We provide neuroscience-based content, coaching, courses and community to help founders put their minds at work. Our projects have been featured in Forbes, WIRED, LifeHacker, Rolling Stone, and more.</p>

           </article>
           <div class="subscription">
            <form action="/subscribe">
            <input type="text" placeholder="Subscribe for your weekly tips">
            <input class="btn" type="submit">
            </form>
           </div>
        
        </div>
    </main>
<script type="text/javascript" src="./assets/scripts/main.6fa32e81be2ace6bc95c.js"></script></body>
</html>