<%- include('includes/header') %>
    <%- include('includes/menu') %>  
    <main class="main ">
        <div class="site-content site-content--homepage">
           <div class="entry-header page-section">
               <h1 class="entry-header__title entry-header__title--centered">Work smart, not hard. But always be working.</h1>
           </div> 
           <article class="entry-body entry-body--centered">
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Non numquam quidem dicta itaque cum. Molestiae, sapiente aspernatur ducimus 
                corporis eveniet minima porro est animi dicta hic accusantium suscipit natus 
                aliquid, odio atque quos laudantium perspiciatis laborum. Id tenetur animi, 
                ducimus debitis quo rem nostrum nemo eum libero pariatur similique, sit numquam 
                saepe assumenda inventore blanditiis optio.</p>
           </article>
           <div class="subscription">
            <form action="/subscribe">
            <input type="text" placeholder="Subscribe for your weekly tips">
            <input class="btn" type="submit">
            </form>
           </div>
        
        </div>
    </main>
<%- include('includes/footer') %>