<%- include('includes/header') %>
<%- include('includes/menu') %>
    <main class="main page-section">
        <div class="site-content site-content">
           <div class="entry-header">
               <h1 class="entry-header__title entry-header__title--centered">Log In</h1>
           </div> 
           

            <div class="form form--centered">
                <form  action="/log-in" method="POST" >
                    <div>
                        <label class="form__label" for="name">Email (required)</label>
                        <input class="form__text-input" type="email" name="email" id="name">
                    </div>
                    <div>
                        <label class="form__label" for="name">Password (required)</label>
                        <input class="form__text-input" type="text" name="email" id="name">
                    </div>
                    <div>
                        <input class="form__submit-btn" value="Log In" type="submit">
                    </div>
                    <div>
                        Dont have an account?
                    </div>
                    <div><a href="/register">Register</a></div>
                </form>
            
           </div>
        
        </div>
    </main>
<%- include('includes/footer') %>