<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
    <aside class="menu">
        <div class="header">
            <h1 class="header__title"><a href="index.html" class="null">Blog Title</a></h1>
            <h2 class="header__subtitle">Blog Subtitle</h2>
        </div>
        <nav class="navigation">
            <ul class="navigation__links">
                <li><a href="about.html">About</a></li>
                <li><a href="posts.html">Articles</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
        <div class="menu-footer">
            <div class="social-link">S</div>
            <div class="social-link">T</div>
            <div class="social-link">F</div>
            <div class="social-link">L</div>
            <div class="social-link">I</div>
        </div>
    </aside>
    <main class="main page-section">
        <div class="site-content site-content">
           <div class="entry-header">
               <h1 class="entry-header__title entry-header__title--centered">Log In</h1>
           </div> 
           

            <div class="form form--centered">
                <form  action="/log-in" method="POST" >
                    <div>
                        <label class="form__label" for="name">Email (required)</label>
                        <input class="form__text-input" type="text" name="email" id="name">
                    </div>
                    <div>
                        <label class="form__label" for="name">Password (required)</label>
                        <input class="form__text-input" type="text" name="email" id="name">
                    </div>
                    <div>
                        <input class="form__submit-btn" value="Log In" type="submit">
                    </div>
                    <div>
                        Dont have an account?
                    </div>
                    <div><a href="register.html">Register</a></div>
                </form>
            
           </div>
        
        </div>
    </main>
</body>
</html>