<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
<link href="./assets/styles/styles.6fa32e81be2ace6bc95c.css" rel="stylesheet"></head>
<body>
    <aside class="menu">
        <div class="header">
            <h1 class="header__title"><a href="index.html" class="null">Blog Title</a></h1>
            <h2 class="header__subtitle">Blog Subtitle</h2>
        </div>
        <nav class="navigation">
            <ul class="navigation__links">
                <li><a href="about.html">About</a></li>
                <li><a href="posts.html">Articles</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
        <div class="menu-footer">
            <div class="social-link">S</div>
            <div class="social-link">T</div>
            <div class="social-link">F</div>
            <div class="social-link">L</div>
            <div class="social-link">I</div>
        </div>
    </aside>
    <main class="main page-section">
        <div class="site-content">
            <div class="post-preview">
                <h2 class="post-preview__title">Post title goes here</h2>
                <div class="post-preview__meta"><span><strong>Post Author:</strong> Sean Jensen</span><span><strong>Created:</strong> 03-04-2020</span></div>
                <p class="post-preview__snippet">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis nulla blanditiis 
                    porro officiis harum doloribus sapiente nostrum minima pariatur repudiandae
                <a href="/">...Read More</a></p>
            </div>
            <div class="post-preview">
                <h2 class="post-preview__title">Post title goes here</h2>
                <div class="post-preview__meta"><span><strong>Post Author:</strong> Sean Jensen</span><span><strong>Created:</strong> 03-04-2020</span></div>
                <p class="post-preview__snippet">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis nulla blanditiis 
                    porro officiis harum doloribus sapiente nostrum minima pariatur repudiandae
                <a href="/">...Read More</a></p>
            </div>
            <div class="post-preview">
                <h2 class="post-preview__title">Post title goes here</h2>
                <div class="post-preview__meta"><span><strong>Post Author:</strong> Sean Jensen</span><span><strong>Created:</strong> 03-04-2020</span></div>
                <p class="post-preview__snippet">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis nulla blanditiis 
                    porro officiis harum doloribus sapiente nostrum minima pariatur repudiandae
                <a href="/">...Read More</a></p>
            </div>
            <div class="post-preview">
                <h2 class="post-preview__title">Post title goes here</h2>
                <div class="post-preview__meta"><span><strong>Post Author:</strong> Sean Jensen</span><span><strong>Created:</strong> 03-04-2020</span></div>
                <p class="post-preview__snippet">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis nulla blanditiis 
                    porro officiis harum doloribus sapiente nostrum minima pariatur repudiandae
                <a href="/">...Read More</a></p>
            </div>
           </div>
    </main>
<script type="text/javascript" src="./assets/scripts/main.6fa32e81be2ace6bc95c.js"></script></body>
</html>