<%- include('includes/header') %>
<%- include('includes/menu') %>
    <main class="main page-section">
        <div class="site-content site-content">
           <div class="entry-header">
               <h1 class="entry-header__title entry-header__title--centered">Register</h1>
           </div> 
           
           
            <div class="form form--center-div">
                <form  action="/register" method="POST" >
                    <div>
                        <label class="form__label" for="name">Your Name (required)</label>
                        <input class="form__text-input" type="text" name="name" id="name">
                    </div>
                    <div>
                        <label class="form__label" for="email">Your Email (required)</label>
                        <input class="form__text-input" type="email" name="email" id="email">
                    </div>
                    <div>
                        <label class="form__label" for="password">Pick a password (required)</label>
                        <input class="form__text-input" type="password" name="password" id="password">
                    </div>
                    <div>
                        <label class="form__label" for="password-repeat">Repeat the password (required)</label>
                        <input class="form__text-input" type="password" id="password-repeat">
                    </div>
                    <div>
                        <input class="form__submit-btn" value="Register" type="submit"> 
                    </div>
                </form>
            
           </div>
        
        </div>
    </main>
</body>
</html>
<%- include('includes/footer') %>