.menu-footer{
    height:20vh;
    transition:all ease-out .2s;
    display:none;
    @mixin atMedium{
        display:flex;
    }
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
    width:100%;
    max-width:250px;
    &--is-visible{
        display:flex;
    }
}