.menu{
    position:absolute;
    top:0;
    left:0;
    color:white;
    z-index:100;
    width:100vw;
    min-height:12vh;
    &--is-open{
        animation-name:open;
        animation-duration:.6s;
    }
    &--is-closed{
        animation-name:close;
        animation-duration:.6s;
    }
    @keyframes open {
        from {height:12vh}
        to {height:100%}
    }
    @keyframes close {
        from{height:100%}
        to{height:12vh}
    }
    padding:0 2rem;
    @mixin atMedium{
        position:fixed;
        height:100vh;
        width:30vw;
        padding:3rem;
    }
    background-color:black;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}